Package: com.guacforlife.reynarddefault
Name: ReynardDefault
Version: 1.4.0
Architecture: iphoneos-arm
Description: Redirects Safari URL opens to Reynard browser. Toggle in Settings and Control Centre.
Maintainer: guacforlife
Author: guacforlife
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, com.opa334.ccsupport
Homepage: https://github.com/guacforlife/ReynardDefault
